

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>❤️ STC Rule Generator ️️❤️</title>
    <link href="/static/css/style.min.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>  
    <div class="container">
            <header>
                <h1>🚀 STC Api Rule Generator 🚁</h1>
            </header>

            <!-- Proxy tools -->
        <form method="POST" name = "form1">

            <div class="card" >
            <h2> 👌 Welcome | 隐私问题自行考虑 | 不要重复调用</h2>
            <div style="text-align:center; vertical-align:middel;">
                <input  type="submit" class="card" name= 'submit' value = "基础使用版""/>
                </br>
                <input  type="submit" class="card" name= 'submit' value = "节点分组版""/>
                </br>
                <input  type="submit" class="card" name= 'submit' value = "配置文件版""/>
                </br>
                <input  type="submit" class="card" name= 'submit' value = "节点过滤版""/>
            </div>
            </div>                           
        </form>  
        <footer>
            <p> &copy;<a href="https://t.me/niconewbeeeapi">API通知频道</a>——<a href="https://t.me/niconewbeeeapi/134"> 打赏支持开发</a>——<a href="https://github.com/lzdnico/subweb"> Web源码</a></p>
        </footer>    
    
    </div>
</body>
</html>